# included templates
include:
  # Python template
  - component: "$CI_SERVER_FQDN/to-be-continuous/python/gitlab-ci-python@7.12.1"
    rules:
      - if: $CI_COMMIT_TAG
    inputs:
      image: docker.io/library/python:3.13
      package-enabled: true
      publish-enabled: true
      trivy-disabled: true
      sbom-disabled: true
  # semantic-release template
  - component: "$CI_SERVER_FQDN/to-be-continuous/semantic-release/gitlab-ci-semrel@3.14.4"
    inputs:
      changelog-enabled: true
      auto-release-enabled: true
      commit-spec: conventionalcommits